<div class="page-container">
  <div class="page-content">
    <div class="content-box">
      <p>To get COVID-19 information please sign in </p>
      <button class="btn" (click)="signIn()">Sign in with GitHub</button>
    </div>
    <h4 class="exclamation"><span style="color: #b11832">BEWARE!</span> Coronavirus is in the air...</h4>
    <div class="images">
      <div class="img-block">
        <img src="assets/images/coronavirus.svg">
      </div>
      <div class="img-block">
        <img src="assets/images/coronavirus.svg">
      </div>
      <div class="img-block">
        <img src="assets/images/coronavirus.svg">
      </div>
      <div class="img-block">
        <img src="assets/images/coronavirus.svg">
      </div>
    </div>
  </div>
</div>
