.btn {
  display: inline-block;
  width: auto;
  height: 30px;
  padding: 5px 24px;
  border-radius: 12px;
  border: none;
  margin: 8px 0;
  cursor: pointer;
  outline: none;
  background: $bg;
  color: $primary;
}
