.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 10px;
  background: #53BF9D;
  color: white;

  & .title {
    margin-bottom: 0;
    margin-left: .5rem;
    font-size: 1.5rem;
    color: $brand;
  }

  & .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: .5rem;
  }

  & .username {
    margin-bottom: 0;
    margin-right: .5rem;
    font-size: 1rem;
    color: $white !important;
  }
}
