h4 {
  color: $primary;
}

p {
  color: $secondary;
}

.t {
  &-color {
    &-primary {
      color: $primary !important;
    }

    &-secondary {
      color: $secondary !important;
    }
  }

  &-bg {
    &-primary {
      background-color: $bg !important;
    }

    &-secondary {
      background-color: $bg-secondary !important;
    }

  }
}
