/* You can add global styles to this file, and also import other style files */
@import "assets/scss/variables";
@import "assets/scss/grid";
@import "assets/scss/header";
@import "assets/scss/footer";
@import "assets/scss/buttons";
@import "assets/scss/spinner";
@import "assets/scss/texts";
@import "assets/scss/images";
@import "assets/scss/dropdown";
@import "assets/scss/input";

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $bg;
  transition: color 1s, background 1s;

  @each $name, $color in $colors {
    #{$name}: nth($color, 1);
  }
}

.theme-dark {
  @each $name, $color in $colors {
    #{$name}: nth($color, 2);
  }

  img {
    filter: brightness(.8) contrast(1.2);
  }
}

@media screen and (max-width: 800px) {
  .charts {
    display: none;
  }

  .header .user-info {
    justify-content: end;
  }
}

@media screen and (max-width: 485px) {
  .btn {
    &.sign-in {
      margin-right: 0;
    }
  }
}
