/* You can add global styles to this file, and also import other style files */
@import "assets/scss/variables";
@import "assets/scss/grid";
@import "assets/scss/header";
@import "assets/scss/footer";
@import "assets/scss/buttons";
@import "assets/scss/spinner";
@import "assets/scss/texts";

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $bg;
  transition: color 1s, background 1s;

  @each $name, $color in $colors {
    #{$name}: nth($color, 1);
  }
}

h4 {
  color: $primary;
}

p {
  color: $secondary;
}

.theme-dark {
  @each $name, $color in $colors {
    #{$name}: nth($color, 2);
  }

  img {
    filter: brightness(.8) contrast(1.2);
  }
}

.images {
  animation-delay: 5s;

  .img-block:nth-child(2n) {
    animation-delay: 2s;
  }
}

.img-block {
  width: 100px;
  height: 100px;
  display: block;
  animation: covidAnimation 10s infinite;
  animation-timing-function: ease-in-out;

  img {
    width: 100%;
  }
}

/* The animation code */
@keyframes covidAnimation {
  0% {
    transform: translate3d(0px, 0px, 0px)
  }
  25% {
    transform: translate3d(30vw, 20vh, 100px) rotate(90deg)
  }
  50% {
    transform: translate3d(70vw, 0vh, 100px) rotate(-90deg)
  }
  75% {
    transform: translate3d(30vw, 20vh, 100px) rotate(90deg)
  }
  100% {
    transform: translate3d(0px, 0px, 0px)
  }
}
